<!-- <router-outlet></router-outlet> -->

<body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('assets/img/bg.jpg');">    
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark py-lg-4 fixed-top" id="mainNav">
      <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Pristino</a><button
          data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span
            class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="#Home">Home</a></li>
            <li class="nav-item"><a class="nav-link" Href="#AcercaDe">Acerca de </a></li>
            <li class="nav-item"><a class="nav-link" href="#Producto">Productos</a></li>
            <li class="nav-item"><a class="nav-link" href="#Tienda">Tienda</a></li>
          </ul>
        </div>
      </div>
    </nav>

  

  <!-- Section Home -->
  <section class="page-section clearfix" id="Home">
    <div class="p-5"><h1 class="text-center text-white d-none d-lg-block site-heading"><span
      class="text-primary site-heading-upper mb-3">Cafe Pristino&nbsp;</span><span class="site-heading-lower">Un Lugar
      Informal</span></h1></div>
    <div class="container">
      <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg">
        <div class="text-center intro-text p-5 rounded bg-faded">
          <h2 class="section-heading mb-4"><span class="section-heading-upper">Café Fresco</span><span
              class="section-heading-lower">Vale la pena Beber</span></h2>
          <p class="mb-3"> Cada taza de nuestro café artesanal de calidad
            comienza con ingredientes seleccionados a mano de origen local. Una vez que lo pruebe, nuestro
            café será una maravillosa adición a su rutina matutina diaria, ¡lo garantizamos!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="text-center cta-inner rounded">
            <h2 class="section-heading mb-4"><span class="section-heading-upper">Nuestra Promesa</span><span
                class="section-heading-lower">A Ti</span></h2>
            <p class="mb-0">Cuando entras en nuestra tienda para comenzar tu día, nos dedicamos a brindarte
              un servicio amable, un ambiente acogedor y, sobre todo, Excelentes productos elaborados con
              ingredientes de la más alta calidad. Si no está satisfecho, háganoslo saber y haremos todo
              lo posible para hacer las cosas bien!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Acerca De -->
  <section class="page-section about-heading p-5" id="AcercaDe">
    <div class="container p-5"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4"><span class="section-heading-upper">Café Fuerte, Raíces Fuertes
                </span><span class="section-heading-lower">&nbsp;Sobre Nuestro Café</span></h2>
              <p>Fundado en 1987 por los hermanos Hernández, nuestro establecimiento ha estado sirviendo un rico café
                procedente de agricultores artesanales en varias regiones de América del Sur y Central. Estamos
                dedicados a viajar por el mundo, encontrar el mejor café y traerlo de vuelta aquí en nuestra cafetería.
              </p>
              <p class="mb-0"><span>Le garantizamos que caerá en la lujuria con nuestras mezclas unicas desde el
                  momento en que entra hasta que termine su último sorbo. Únase a nosotros para su rutina diaria, una
                  salida con amigos o simplemente para disfrutar de un tiempo a solas.</span></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Productos -->
  <section class="page-section p-5" id="Producto">
    <div class="container p-5">
      <div class="product-item">
        <div class="d-flex product-item-title">
          <div class="d-flex me-auto bg-faded p-5 rounded">
            <h2 class="section-heading mb-0"><span class="section-heading-upper">Mezclado a la Perfección</span><span
                class="section-heading-lower">Cafés &amp; Tés</span></h2>
          </div>
        </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded"
          src="assets/img/products-01.jpg">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Estamos orgullosos de nuestro trabajo, y se nota. Cada vez que nos pide una bebida, le
            garantizamos
            que será una experiencia que vale la pena vivir. Ya sea nuestro mundialmente famoso capuchino venezolano, un
            refrescante té de hierbas helado, o algo tan simple como una taza de café negro especial, estarás
            volviendo por más.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="d-flex product-item-title">
          <div class="d-flex ms-auto bg-faded p-5 rounded">
            <h2 class="section-heading mb-0"><span class="section-heading-upper">Deliciosos dulces, buena
                comida</span><span class="section-heading-lower">Panadería &amp; Cocina</span></h2>
          </div>
        </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded"
          src="assets/img/products-02.jpg">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Nuestro menú de temporada incluye deliciosos refrigerios, productos horneados e incluso
            comidas completas perfectas para
            desayuno o almuerzo. Obtenemos nuestros ingredientes de granjas orgánicas locales siempre que sea posible,
            junto con
            proveedores premium de productos especiales.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="d-flex product-item-title">
          <div class="d-flex mx-auto bg-faded p-5 rounded">
            <h2 class="section-heading mb-0"><span class="section-heading-upper">De todo el Mundo</span><span
                class="section-heading-lower">Mezclas Especiales a Granel</span></h2>
          </div>
        </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded"
          src="assets/img/products-03.jpg">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Viajar por el mundo en busca del café de la mejor calidad es algo de lo que se enorgullece.
            Cuando
            visítenos, siempre encontrará nuevos blends de todo el mundo, principalmente de las regiones del Centro y
            Sur
            America. Vendemos nuestras mezclas en cantidades a granel pequeñas o grandes. Por favor visítenos en persona
            para más detalles.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Tienda -->

  <section class="page-section cta p-5" id="Tienda">
    <div class="container p-5">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="text-center cta-inner rounded">
            <h2 class="section-heading mb-5"><span class="section-heading-upper">Ven ahora</span><span
                class="section-heading-lower">Nosotros estamos Abiertos</span></h2>
            <ul class="list-unstyled text-start mx-auto list-hours mb-5">
              <li class="d-flex list-unstyled-item list-hours-item">Domingo<span class="ms-auto">Cerrado</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Lunes<span class="ms-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="d-flex list-unstyled-item list-hours-item">Martes<span class="ms-auto">7:00 AM to 8:00
                  PM</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Miercoles<span class="ms-auto">7:00 AM to 8:00
                  PM</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Jueves<span class="ms-auto">7:00 AM to 8:00
                  PM</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Viernes<span class="ms-auto">7:00 AM to 8:00
                  PM</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Sabado<span class="ms-auto">9:00 AM to 5:00
                  PM</span></li>
            </ul>
            <p class="address mb-5"><em><strong>Bolivar 1120 </strong><span><br>Posadas, Misiones</span></em></p>
            <p class="address mb-0"><small><em>Comunicate al</em></small><span><br>(3764) 585-8468</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="text-center footer text-faded py-5">
    <div class="container">
      <p class="m-0 small">Copyright&nbsp;©&nbsp;Cafe Pristino 2023</p>
    </div>
  </footer>
</body>